* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1200px;
  --container-padding: 1.25rem;
  --bg-color: #f9f9f9;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-geist-sans);
}


.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  width: 100%;
}
